<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>






<ion-content [fullscreen]="true">
<!-- Item Inset Lines -->
<ion-item  *ngFor="let art of arts" [routerLink]="['/tabs',art.id]">
<ion-avatar>
<ion-img
[src]="art.ImageURL">

</ion-img>
</ion-avatar>
<ion-label>
{{art.tittle}}
  
</ion-label>

<ion-label>
  {{art.precio}}
    
  </ion-label>
 

</ion-item>

<ion-label>
 
  <ion-button fill="outline" slot="end">Finalizar</ion-button>
  </ion-label>
  <ion-label>
 
TOTAL:52.4
    </ion-label>
  
 
</ion-content>
